.van-toast {
  background-color: var(--van-toast-background) !important;
}

.van-nav-bar {
  background-color: rgba(2, 121, 254, 1) !important;

  &:after {
    border-color: rgba(2, 121, 254, 1) !important;
  }
}
